body {
	background-color: #efeee7;
	font-family: Georgia, Times New Roman, Times, serif; 
	font-color: #333333;
	margin: 0;
	padding: 0;

}



header {
	background-color: #333333;
	color: #eee;
	font-size: 28px;
	text-align: center;
	padding: 2px;
}

h2 {
	font-size: 24px;
	width: 1024px;
	margin: 10px 30px;
}

p {
	margin: 0 auto;
}

.container {
	margin: 0;
}

#main-bio {
	float: left;
	padding: 10px;
	width: 50%;
	margin-top: 0;
}

#contact-info {
	float: left;
	width: 30%;
	line-height: 1.5; 
}

#bio-image {
	float: left;
	width: 200px;

}

a {
	color: #d21034;
}

	img {
		border-radius: 20px; 
		width: 200px;
		margin: 10px;

	}



	/*img:hover {
		height: 250px;
		width: 250px;
		transition: 2s;
	}*/
